{% extends 'home.html' %}
{% block content %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {
          $.ajaxSetup({ cache: false }); // This part addresses an IE bug.  without it, IE will only load the first number and will never refresh
          var my_refresh = setInterval(function() {
            $('#output_box').load('/log-viewer/');
          }, 500); // the "500ms"
        });
    </script>

<div class="heading">
    <h1>Test Tracker</h1>
</div>

<table class="log-viewer" width="100%">
  <thead>
    <tr>
      <th scope="col">Test ID : {{test_id}} &emsp;&emsp;&emsp; Current TC : TC501</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
          <div id="output_box" style="white-space: pre-wrap;"></div>
      </th>
    </tr>

  </tbody>
</table>
{% endblock %}


