<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>dummy test</title>-->
<!--</head>-->
<!--<body>-->
<!--    {{data}}-->
<!--    <select>-->
<!--        {% for dev_id in dev_id_list %}-->
<!--        <option value="{{ dev_id }}">{{ dev_id }}</option>-->
<!--        {% endfor %}-->
<!--    </select>-->
<!--</body>-->
<!--</html>-->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
{{ form }}